
      .footer a {
        color: #999 !important;
        position: relative;
      }

      .footer a:after {
        background-color: #999;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: all .3s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
      }
      
      .footer a:hover:after {
        transform: scaleX(1);
        visibility: visible;
      }

    .footer {
    margin-top: 1rem;
    padding-top: 2rem !important;
    padding-bottom: 5rem !important;
    background-color: #2c3e50 !important;
    color: #fff;
    }
    
    .copyright {
    background-color: #1a252f;
    }
    
    .footer-static-top {
      background: rgb(44,62,80);
      background: linear-gradient(180deg, rgba(44,62,80,1) 15%, rgb(0, 0, 0) 50%, rgba(44,62,80,1) 85%);
    }
    